@import "../../LogIn/LogIn.module";

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 90%;
  border-radius: 10px;
  margin: auto;
  .box_top {
    button {
      @include Button();
      width: auto;
      background: #ec677d;
    }
    margin-left: auto;
    margin-bottom: 20px;
  }
}