.error {
  text-align: center;
  position: fixed;
  z-index: 500;
  background-color: #d63251;
  border-radius: 10px;
  width: 80%;
  padding: 16px;
  left: 15%;
  top: 80%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  font-weight: bold;
}

@media (min-width: 600px) {
  .error {
    width: 500px;
    left: calc(50% - 250px);
  }
}