@import "src/components/LogIn/LogIn.module";

$borderRadius: 10px;

.card_box {
  text-align: left;
  min-height: 100px;
  width: 700px;
  border-radius: $borderRadius;
  padding: 1rem;
  margin: 10px 0;
  background: white;

  .card_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;

    .card_top_post_title {
      width: 75%;
      span {
        width: 60%;
        word-break: break-all;
        font-size: 36px;
        font-weight: bold;
      }
    }
  }
  .card_bottom_btns {
    .btn {
      @include Button();
      background: #67a1ec;
      width: 150px;
      cursor: pointer;
    }

    .btn_read {
      @include Button();
      background: #ec67cd;
      width: 150px;
      cursor: pointer;
      margin: 0 0 0 10px;
    }
  }
}

.card_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}