$borderRadius: 8px;
@mixin BoxShadow (){
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
@mixin Button (){
  width: 100%;
  height: 36px;
  font-size: 16px;
  border: 0;
  outline: none;
  background: #6ed36b;
  border-radius: 4px;
}

@mixin Errors () {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #f371d0;
    padding: 6px;
    border-radius: 4px;
}

.login_container {
  margin: auto;
  z-index: 20;
  .login_form_container {
    box-sizing: content-box;
    padding: 20px;
    background: white;
    height: 350px;
    width: 400px;
    border-radius: $borderRadius;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    //
    display: flex;
    flex-direction: column;

    .form_top {
        span {
          font-size: 36px;
          font-weight: bold;
        }
      }
    .form_field {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin: 10px 0;
      span {
        font-size: 16px;
        font-weight: bold;
      }
      label {
        input {
          padding: 2px;
          width: 100%;
          height: 35px;
          border-radius: 4px;
          border: 1px solid gray;
        }
      }
    }
    .form_bottom {
      width: 100%;
      margin: auto;
      button {
       @include Button();
      }
    }
    .errors {
     @include Errors();
    }
  }
}

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
}